:root {
    --brown: #71695f;
    --dark-brown: #635c53;
    --green: #33b95a;
    --red: #ff5f2d;
    --gray: #dddddd;
    --gray-light: #eeeeee;
    --black: #333333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
}
